@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
    animation: shake 0.4s;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
  }

  .clock {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .analog-clock {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      position: relative;
      .dial {
        position: absolute;
        left: 50%;
        width: 25px; 
        height: 25px;
        transform-origin: bottom left;
        &.hours {
          width: 17.5px;
          height: 17.5px; 
          top: 7.5px; 
        }
      }
    }
  }
